html,
body,
#cy {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 0;
}
.seelectors {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
